<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PULARI COLLEGE OF ARTS AND SCIENCE</title>
</head>
<body>
<p>About Us

    PAGE was established in 1988 with the intention to provide the right guidance to students who are career minded and ambitious. Right from its inception, PAGE has had an obsession with quality which till today is the hallmark of the institution.

PAGE has always gone that extra mile to ensure that students have the best faculty to teach them as also the right ambiance to set the backdrop for the best learning experience. We make sure that our campuses set a bench mark in quality and standard. Neat classrooms with modern up-to-date teaching methods and aids are PAGE’s forte.

The interest of students is given top priority and counseling is taken up to help students identify their interests and careers. PAGE’s course structure is comprehensive and scientifically designed for both teachers and students to evaluate progress.

We have three compact learning centers in Hyderabad city at Banjara Hills, Himayatnagar , Hitec city and a residential for boys & day learning center in Kompally on the outskirts of Hyderabad city. We offer a variety of integrated training programs for students who have completed Class X, XI, or XII.</p>
</body>
</html>
